@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
   
}


.wrapper_btn button{
    width: 120px;
    padding:10px;
    background-color: rgb(3, 150, 47);
}
.wrapper_btn button:hover{
    background-color: rgb(15,23,42);
    border: 1px solid gray;
    transition: 0.5s;
}

.wrapper_img_icon img{
    width: 50px;
}

.wrapper_img_icon img:hover{
    opacity: 0.3;
    transition: .5s ease;
    backface-visibility: visible;
   
}

.row .card{
    background: rgb(15,23,42);  
    color: rgb(146, 146, 241); 
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    border-color: rgba(248, 250, 252, .08);
    transition: all 0.5s;
    
}

.card:hover{
    transform: scale(1.03); 
    z-index: 5;
    border: 0.3px solid rgb(146, 146, 241);
}

.img-card img{
    width: 50px;
    justify-content: center;
    margin-top: 5px;
}

.card p{
    font-size: small;
    color: rgb(155, 148, 148);
}

.icon i:hover {
    opacity: 0.3;
    transition: .5s ease;
    backface-visibility: visible;
}

.quickLink a{
    display: block;
    padding: 10px 0 10px 0px;
    margin: 0px;
    text-decoration: none;
    color: rgb(155, 148, 148);
    font-size: medium;
}

.quickLink a:hover{
    color: rgb(146, 146, 241);
    transition: .5s ease;
}